<li class = "spacing">

	{{#if devoured}}
	{{id}}. {{burger_name}}
	{{else}}
	{{id}}. {{burger_name}}
	<button class="devour-button btn btn-light" type="button" data-id="{{id}}" data-newDevour="{{devoured}}">
		COME ON EAT IT!
	</button>
	{{/if}}

</li>